:root {
    --main-violet: #cdb4db;
    --bright-pink: #ffc8dd;
    --pink: #ffafcc;
    --dark-pink:#ce7998;
    --darker-pink:#92596e;
    --baby-blue: #cfe0f0;
    --blue:#a2d2ff;
    --white-grey:#fdfcfd;
    --plain-yellow:yellow;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  #BG{
    font-size: 18px;
    line-height: 1.4;
    background-color: var(--white-grey);
    font-family: 'Fjalla One', sans-serif;
    /*max-width: 1960px; /* Set the maximum width of the site */
    /*margin: 0 auto; /* Center the site horizontally on the page */
  }

.logo{
  margin: 10px;
  padding: 20px;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  color: var(--darker-pink);
  font-weight: bold;
}

  .navbar{
width: 100%;
background-color: var(--baby-blue);
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .navbar-nav:first-child {
    margin-bottom: auto; /* Pushes first navbar to the top */
  }



#searchbarbtn{
  position: relative;
  left: -6%;
  width: 80%;

}

#search-bar-btn{
  color: black;
  border: black 2px solid;
  margin-right: 100px;
}

#search-bar-btn:hover{
  background-color: var(--bright-pink);
}


.users-account-border{
  display: flex;
  justify-content: center;
  align-items: center;
}

#user{
  color: black;
  padding: 5px;
  margin: 0 10px;
}

#user:hover{
  color: var(--bright-pink);
}

.cart-btn{
  display: flex;
justify-content: center;
align-items: center;
background-color: var(--baby-blue);
border: black 2px solid;
border-radius:30px ;
}


.cart-btn:hover{
  background-color: var(--bright-pink);
}

#cart{
  color: black;
padding: 10px;
}



#cart-count{
  text-decoration: underline;
  padding: 10px 10px;
  color: var(--darker-pink)
}


#navigationbtns{
 align-items: center;
justify-content: center;
display: flex;
}

#navbtn1,#navbtn2,#navbtn3,#navbtn4,#navbtn5,#navbtn6{
  padding: 0 45px;
}

  .dropdown .dropdown-menu {
    display: none;
  }
  .navbar .navbar-nav .nav-link {
      
      font-size: 1.1em;
  }
  .navbar .navbar-nav .nav-link:hover{
      color: var(--dark-pink);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }


 .promo-img{
display: block;
height: 700px;
width: 1900px;
margin: 0 auto;
padding: 0;
 }


 .new-arrival-title,.hostest-deals-title{
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;
  right: 35%;
  padding-bottom: 20px;
  margin-top: 100px;
  
 }

.card{
  width: 19rem;
}


.glam-title{
text-align: center;
font-weight: bold;
font-size: 2.5rem;
padding-bottom: 20px;
}

.Share-your-glam-box{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}

 .bar{
  background-color: var(--blue);
  color: black;
  padding: 30px;
  margin: 0;
border-radius: 30px;
 }

 .glamphoto{
  display: block;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  padding: 0;
 }

.arrow-icon{
  font-size: 30px;
}

.social-box{
  background-color: var(--baby-blue);
  color: black;
margin-bottom: 0;
padding: 20px;
text-align: center;
}

.link-box{
margin: 10px;
padding: 30px 0;
border: black 5px solid;
border-radius: 30px;
}

.title-of-social-box{
  font-weight: bold;
  text-decoration: underline;
}

.social-details{
  padding: 10px;
}

.social-link{
  text-decoration: none;
  color: black;
}

.social-link:hover{
  color: var(--bright-pink);
}

.social-link:hover{
  text-decoration: underline;
}


#social-icons-box{
  margin: 10px;
  padding: 0 50px;
  border: black 5px solid;
  border-radius: 30px;
}

.sub-details{
 padding: 10px;
}

.subcribe-bar{
  border-radius: 30px;
 
}

.btn-sub{
  border-radius: 30px;
  border: black;
  color: black;
  background-color: var(--blue);
margin: 10px;
padding: 20px;
}

.btn-sub:hover{
background-color: var(--bright-pink);

}

.social-icons{
  padding: 20px;

}

.icons{
  color: black;
}


.icons:hover{
  color: var(--bright-pink);
}



@media (max-width: 1493px){

  #BG{
   
    width: 105%;
  }


  .promo-img{
    height:600px;
    width: 1400px;
   
     }
    
     .glamphoto{
      height: 300px;
      width: 300px;
     }

}



@media (max-width: 1402px){
 
  #BG{
   
    width: 104.5%;
  }


}


@media (max-width: 1398px){
 
  #BG{
   
    width: 112%;
  }


}


@media (max-width: 1326px){
 
  #BG{
   
    width: 110.5%;
  }


}

@media (max-width: 1308px){
 
  #BG{
   
    width: 117%;
  }


}


@media (max-width: 1234px){
 
  .promo-img{
    height:610px;
    width: 1500px;
   
     }

  #BG{
   
    width: 124%;
  }


}

@media (max-width: 1206px){
 
  #BG{
   
    width: 129%;
  }


}



@media (max-width: 1159px){
 
  #BG{
   
    width: 134%;
  }


}


@media (max-width: 1111px){
 
  #BG{
   
    width: 137%;
  }
}



@media (max-width: 1098px){
 
  #BG{
   
    width: 139%;
  }


}



@media (max-width: 1078px){
 
  .promo-img{
    height:610px;
    width: 1500px;
   
     }

  #BG{
   
    width: 142%;
  }


}



@media (max-width: 1036px){
 
  #BG{
   
    width: 147%;
  }


}


@media (max-width: 1006px){
 
  #BG{
   
    width: 153%;
  }


}


@media (max-width: 969px){
 
  #BG{
   
    width: 100%;
  }

  .promo-img{
    height:420px;
    width: 1000px;
   
     }

     .glamphoto{
      height: 200px;
      width: 200px;
     }

  #social-icons-box{
    width: 600px;
 
  }
  .sub-details{
    padding: 12px;
    width: 500px;
   }
   
   .subcribe-bar{
     width: 500px;

   }
   
   .btn-sub{
   
   margin: 10px;
   padding: 10px;
   }

}

@media (max-width: 904px){
 
  .promo-img{
    height:420px;
    width: 900px;
   
     } 

}


@media (max-width: 809px){
 
  .promo-img{
    height:420px;
    width: 840px;
   
     } 

}

@media (max-width: 753px){

  .promo-img{
    height:400px;
    width: 800px;
   
     }

     .new-arrival-title,.hostest-deals-title{
      right: 2%;
     }

  
     .card{
      width: 600px;
     }

     .card-body{
      height: 200px;
      width: 600px;
     }

     .glamphoto{
      height: 300px;
      width: 300px;
     }

     .sub-details{
      padding: 12px;
      width: 440px;
     }

     .subcribe-bar{
      width: 400px;
 
    }
}

@media (max-width: 704px){
 
  .promo-img{
    height:350px;
    width: 700px;
   
     } 

}


@media (max-width: 649px){
  #BG{
   
    width: 105%;
  }

  .glamphoto{
    height: 270px;
    width: 270px;
   }


}



@media (max-width: 639px){
  #BG{
   
    width: 107%;
  }


}

@media (max-width: 609px){
  #BG{
   
    width: 112%;
  }


}


@media (max-width: 599px){
  #BG{
   
    width: 122%;
  }

  .glamphoto{
    height: 270px;
    width: 270px;
   }


}

@media (max-width: 495px){
  #BG{
   
    width: 124%;
  }


}

@media (max-width: 479px){
  #BG{
   
    width: 129%;
  }
  .card{
    width: 500px;
   }
   .card-body{
    height: 200px;
    width: 500px;
   }
}


@media (max-width: 438px){
  #BG{
   
    width: 140%;
  }

  .promo-img{
    height:340px;
    width: 700px;
   
     }

  .glamphoto{
    height: 240px;
    width: 240px;
   }

   .sub-details{
    padding: 12px;
    width: 500px;
   }

}


@media (max-width: 409px){
  #BG{
   
    width: 144%;
  }
  .promo-img{
    height:340px;
    width: 600px;
   
     }

}



@media (max-width: 397px){
  #BG{
   
    width: 169%;
  }
 

}


@media (max-width: 341px){
  #BG{
   
    width: 176%;
  }

  .glamphoto{
    height: 220px;
    width: 220px;
   }

   .sub-details{
    padding: 12px;
    width: 440px;
   }

}


@media (max-width: 298px){
  #BG{
   
    width: 210%;
  }

  .promo-img{
    height:340px;
    width: 640px;
   
     }
}




@media (max-width: 298px){
  #BG{
   
    width: 215%;
  }
  .promo-img{
    height:300px;
    width: 560px;
   
     }

     .glamphoto{
      height: 200px;
      width: 200px;
     }
     .sub-details{
      padding: 12px;
      width: 400px;
     }
}


@media (max-width: 235px){
  #BG{
   
    width: 218%;
  }
  .promo-img{
    height:300px;
    width: 540px;
   
     }
     .glamphoto{
      height: 180px;
      width: 180px;
     }
}
